<div class="container container--center">
  <ng-content select="[counter]"></ng-content>
  <app-card [dynamicBG]="dynamicBG">
    <div *ngIf="gridsPoster?.length" class="grid-container">
      <ng-container
        *ngFor="let gridCoordinates of gridsPoster"
        [ngTemplateOutlet]="gridTemplate"
        [ngTemplateOutletContext]="{ $implicit: gridCoordinates }"
      ></ng-container>
    </div>
  </app-card>

  <ng-content></ng-content>
</div>

<ng-template #gridTemplate let-gridCoordinates>
  <div appElemRandomBGColor class="grid">
    <ng-container *ngFor="let coordinate of gridCoordinates; index as i">
      <ng-container *ngIf="coordinate !== '\n'; else separatorTemplate"></ng-container>
      <div
        appElemRandomBGColor
        [allOfType]="'unit'"
        appBlink
        [ngClass]="'unit ' + coordinate"
        [ngStyle]="{ 'grid-area': coordinate }"
      ></div>
    </ng-container>
  </div>
</ng-template>

<ng-template #separatorTemplate>
  <div class="separator"></div>
</ng-template>
