@function get-grid-areas($cols, $rows) {
  $template: null;

  @for $i from 0 to $rows {
    $row-area: '';

    @for $j from 0 to $cols {
      @if $j > 0 { $row-area: $row-area + ' '; }
      $row-area: $row-area + 'c' + $j + 'r' + $i;
    }

    $template: $template $row-area;
  }

  @return $template;
}

@mixin grid-map($cols, $rows, $size) {
  grid-template-columns: repeat($cols, $size);
  grid-template-rows: repeat($rows, $size);
  grid-template-areas: get-grid-areas($cols, $rows);
}

.unit {
  width: var(--unit-length);
  height: var(--unit-length);
  background-color: black;
}

.grid {
  display: inline-grid;
  @include grid-map(5, 7, var(--unit-length));

  &-container {
    display: grid;
    grid-template-columns: repeat(var(--grids-quantity), 1fr);
    gap: var(--unit-length);
  }

  &.first {
    margin-left: 0;
  }
}

.blink {
  animation: fadeInOut 2s ease-in 0s infinite;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  25% {
    opacity: 0;
  }
  75% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

