<div class="container container--center">
  <div class="card-container">
    <div class="card">
      <div class="letter-f">
        <!-- Main Branch -->
        <div appRandomBackgroundColor class="square top-square-1 left-square-1 blink-1"></div>
        <div appRandomBackgroundColor class="square top-square-2 left-square-1 blink-2"></div>
        <div appRandomBackgroundColor class="square top-square-3 left-square-1 blink-3"></div>
        <div appRandomBackgroundColor class="square top-square-4 left-square-1 blink-4"></div>
        <div appRandomBackgroundColor class="square top-square-5 left-square-1 blink-5"></div>
        <div appRandomBackgroundColor class="square top-square-6 left-square-1 blink-6"></div>
        <div appRandomBackgroundColor class="square top-square-7 left-square-1 blink-7"></div>

        <!-- First Branch -->
        <div appRandomBackgroundColor class="square top-square-1 left-square-2 blink-2"></div>
        <div appRandomBackgroundColor class="square top-square-1 left-square-3 blink-3"></div>
        <div appRandomBackgroundColor class="square top-square-1 left-square-4 blink-4"></div>
        <div appRandomBackgroundColor class="square top-square-1 left-square-5 blink-5"></div>

        <!-- Second Branch -->
        <div appRandomBackgroundColor class="square top-square-4 left-square-2 blink-5"></div>
        <div appRandomBackgroundColor class="square top-square-4 left-square-3 blink-6"></div>
      </div>
      <div class="letter-i">
        <!-- Main Branch -->
        <div appRandomBackgroundColor class="square top-square-3 left-square-7 blink-9"></div>
        <div appRandomBackgroundColor class="square top-square-4 left-square-7 blink-10"></div>
        <div appRandomBackgroundColor class="square top-square-5 left-square-7 blink-11"></div>
        <div appRandomBackgroundColor class="square top-square-6 left-square-7 blink-12"></div>
        <div appRandomBackgroundColor class="square top-square-7 left-square-7 blink-13"></div>

        <!-- Dot -->
        <div appRandomBackgroundColor class="square top-square-1 left-square-7 blink-7"></div>
      </div>
      <div class="letter-r">
        <!-- Main Branch -->
        <div appRandomBackgroundColor class="square top-square-1 left-square-9 blink-9"></div>
        <div appRandomBackgroundColor class="square top-square-2 left-square-9 blink-10"></div>
        <div appRandomBackgroundColor class="square top-square-3 left-square-9 blink-11"></div>
        <div appRandomBackgroundColor class="square top-square-4 left-square-9 blink-12"></div>
        <div appRandomBackgroundColor class="square top-square-5 left-square-9 blink-13"></div>
        <div appRandomBackgroundColor class="square top-square-6 left-square-9 blink-14"></div>
        <div appRandomBackgroundColor class="square top-square-7 left-square-9 blink-15"></div>

        <!-- Circle -->
        <div appRandomBackgroundColor class="square top-square-1 left-square-10 blink-10"></div>
        <div appRandomBackgroundColor class="square top-square-1 left-square-11 blink-11"></div>
        <div appRandomBackgroundColor class="square top-square-1 left-square-12 blink-12"></div>

        <div appRandomBackgroundColor class="square top-square-2 left-square-13 blink-14"></div>
        <div appRandomBackgroundColor class="square top-square-3 left-square-13 blink-15"></div>

        <div appRandomBackgroundColor class="square top-square-4 left-square-12 blink-15"></div>
        <div appRandomBackgroundColor class="square top-square-4 left-square-11 blink-14"></div>
        <div appRandomBackgroundColor class="square top-square-4 left-square-10 blink-13"></div>

        <!-- Leg -->
        <div appRandomBackgroundColor class="square top-square-5 left-square-11 blink-15"></div>
        <div appRandomBackgroundColor class="square top-square-6 left-square-12 blink-17"></div>
        <div appRandomBackgroundColor class="square top-square-7 left-square-13 blink-19"></div>
      </div>
      <div class="letter-s">
        <div appRandomBackgroundColor class="square top-square-2 left-square-19 blink-20"></div>
        <div appRandomBackgroundColor class="square top-square-1 left-square-19 blink-19"></div>

        <div appRandomBackgroundColor class="square top-square-1 left-square-18 blink-18"></div>
        <div appRandomBackgroundColor class="square top-square-1 left-square-17 blink-17"></div>
        <div appRandomBackgroundColor class="square top-square-1 left-square-16 blink-16"></div>
        <div appRandomBackgroundColor class="square top-square-1 left-square-15 blink-15"></div>

        <div appRandomBackgroundColor class="square top-square-2 left-square-15 blink-16"></div>
        <div appRandomBackgroundColor class="square top-square-3 left-square-15 blink-17"></div>
        <div appRandomBackgroundColor class="square top-square-4 left-square-15 blink-18"></div>

        <div appRandomBackgroundColor class="square top-square-4 left-square-16 blink-19"></div>
        <div appRandomBackgroundColor class="square top-square-4 left-square-17 blink-20"></div>
        <div appRandomBackgroundColor class="square top-square-4 left-square-18 blink-21"></div>
        <div appRandomBackgroundColor class="square top-square-4 left-square-19 blink-22"></div>

        <div appRandomBackgroundColor class="square top-square-5 left-square-19 blink-23"></div>
        <div appRandomBackgroundColor class="square top-square-6 left-square-19 blink-24"></div>
        <div appRandomBackgroundColor class="square top-square-7 left-square-19 blink-25"></div>

        <div appRandomBackgroundColor class="square top-square-7 left-square-18 blink-24"></div>
        <div appRandomBackgroundColor class="square top-square-7 left-square-17 blink-23"></div>
        <div appRandomBackgroundColor class="square top-square-7 left-square-16 blink-22"></div>
        <div appRandomBackgroundColor class="square top-square-7 left-square-15 blink-21"></div>

        <div appRandomBackgroundColor class="square top-square-6 left-square-15 blink-20"></div>
      </div>
      <div class="letter-t">
        <!-- Main Branch -->
        <div appRandomBackgroundColor class="square top-square-2 left-square-23 blink-24"></div>
        <div appRandomBackgroundColor class="square top-square-3 left-square-23 blink-25"></div>
        <div appRandomBackgroundColor class="square top-square-4 left-square-23 blink-26"></div>
        <div appRandomBackgroundColor class="square top-square-5 left-square-23 blink-27"></div>
        <div appRandomBackgroundColor class="square top-square-6 left-square-23 blink-28"></div>
        <div appRandomBackgroundColor class="square top-square-7 left-square-23 blink-29"></div>

        <!-- Hat -->
        <div appRandomBackgroundColor class="square top-square-1 left-square-21 blink-21"></div>
        <div appRandomBackgroundColor class="square top-square-1 left-square-22 blink-22"></div>
        <div appRandomBackgroundColor class="square top-square-1 left-square-23 blink-23"></div>
        <div appRandomBackgroundColor class="square top-square-1 left-square-24 blink-24"></div>
        <div appRandomBackgroundColor class="square top-square-1 left-square-25 blink-25"></div>
      </div>
      <div class="letter-m">
        <!-- First Branch -->
        <div appRandomBackgroundColor class="square top-square-10 left-square-1 blink-10"></div>
        <div appRandomBackgroundColor class="square top-square-11 left-square-1 blink-11"></div>
        <div appRandomBackgroundColor class="square top-square-12 left-square-1 blink-12"></div>
        <div appRandomBackgroundColor class="square top-square-13 left-square-1 blink-13"></div>
        <div appRandomBackgroundColor class="square top-square-14 left-square-1 blink-14"></div>
        <div appRandomBackgroundColor class="square top-square-15 left-square-1 blink-15"></div>
        <div appRandomBackgroundColor class="square top-square-16 left-square-1 blink-16"></div>

        <!-- Second Branch -->
        <div appRandomBackgroundColor class="square top-square-11 left-square-2 blink-12"></div>
        <div appRandomBackgroundColor class="square top-square-12 left-square-3 blink-14"></div>

        <!-- Third Branch -->
        <div appRandomBackgroundColor class="square top-square-11 left-square-4 blink-14"></div>

        <!-- Fourth Branch -->
        <div appRandomBackgroundColor class="square top-square-10 left-square-5 blink-14"></div>
        <div appRandomBackgroundColor class="square top-square-11 left-square-5 blink-15"></div>
        <div appRandomBackgroundColor class="square top-square-12 left-square-5 blink-16"></div>
        <div appRandomBackgroundColor class="square top-square-13 left-square-5 blink-17"></div>
        <div appRandomBackgroundColor class="square top-square-14 left-square-5 blink-18"></div>
        <div appRandomBackgroundColor class="square top-square-15 left-square-5 blink-19"></div>
        <div appRandomBackgroundColor class="square top-square-16 left-square-5 blink-20"></div>
      </div>
      <div class="letter-i">
        <!-- Main Branch -->
        <div appRandomBackgroundColor class="square top-square-12 left-square-7 blink-18"></div>
        <div appRandomBackgroundColor class="square top-square-13 left-square-7 blink-19"></div>
        <div appRandomBackgroundColor class="square top-square-14 left-square-7 blink-20"></div>
        <div appRandomBackgroundColor class="square top-square-15 left-square-7 blink-21"></div>
        <div appRandomBackgroundColor class="square top-square-16 left-square-7 blink-22"></div>

        <!-- Dot -->
        <div appRandomBackgroundColor class="square top-square-10 left-square-7 blink-16"></div>
      </div>
      <div class="letter-c">
        <div appRandomBackgroundColor class="square top-square-11 left-square-13 blink-23"></div>
        <div appRandomBackgroundColor class="square top-square-10 left-square-13 blink-22"></div>

        <div appRandomBackgroundColor class="square top-square-10 left-square-12 blink-21"></div>
        <div appRandomBackgroundColor class="square top-square-10 left-square-11 blink-20"></div>
        <div appRandomBackgroundColor class="square top-square-10 left-square-10 blink-19"></div>
        <div appRandomBackgroundColor class="square top-square-10 left-square-9 blink-18"></div>

        <div appRandomBackgroundColor class="square top-square-11 left-square-9 blink-19"></div>
        <div appRandomBackgroundColor class="square top-square-12 left-square-9 blink-20"></div>
        <div appRandomBackgroundColor class="square top-square-13 left-square-9 blink-21"></div>
        <div appRandomBackgroundColor class="square top-square-14 left-square-9 blink-22"></div>
        <div appRandomBackgroundColor class="square top-square-15 left-square-9 blink-23"></div>
        <div appRandomBackgroundColor class="square top-square-16 left-square-9 blink-24"></div>

        <div appRandomBackgroundColor class="square top-square-16 left-square-10 blink-25"></div>
        <div appRandomBackgroundColor class="square top-square-16 left-square-11 blink-26"></div>
        <div appRandomBackgroundColor class="square top-square-16 left-square-12 blink-27"></div>
        <div appRandomBackgroundColor class="square top-square-16 left-square-13 blink-28"></div>

        <div appRandomBackgroundColor class="square top-square-15 left-square-13 blink-27"></div>
      </div>
      <div class="letter-r">
        <!-- Main Branch -->
        <div appRandomBackgroundColor class="square top-square-10 left-square-15 blink-24"></div>
        <div appRandomBackgroundColor class="square top-square-11 left-square-15 blink-25"></div>
        <div appRandomBackgroundColor class="square top-square-12 left-square-15 blink-26"></div>
        <div appRandomBackgroundColor class="square top-square-13 left-square-15 blink-27"></div>
        <div appRandomBackgroundColor class="square top-square-14 left-square-15 blink-28"></div>
        <div appRandomBackgroundColor class="square top-square-15 left-square-15 blink-29"></div>
        <div appRandomBackgroundColor class="square top-square-16 left-square-15 blink-30"></div>

        <!-- Circle -->
        <div appRandomBackgroundColor class="square top-square-10 left-square-16 blink-25"></div>
        <div appRandomBackgroundColor class="square top-square-10 left-square-17 blink-26"></div>
        <div appRandomBackgroundColor class="square top-square-10 left-square-18 blink-27"></div>

        <div appRandomBackgroundColor class="square top-square-11 left-square-19 blink-29"></div>
        <div appRandomBackgroundColor class="square top-square-12 left-square-19 blink-30"></div>

        <div appRandomBackgroundColor class="square top-square-13 left-square-18 blink-30"></div>
        <div appRandomBackgroundColor class="square top-square-13 left-square-17 blink-29"></div>
        <div appRandomBackgroundColor class="square top-square-13 left-square-16 blink-28"></div>

        <!-- Leg -->
        <div appRandomBackgroundColor class="square top-square-14 left-square-17 blink-30"></div>
        <div appRandomBackgroundColor class="square top-square-15 left-square-18 blink-32"></div>
        <div appRandomBackgroundColor class="square top-square-16 left-square-19 blink-34"></div>
      </div>
      <div class="letter-o">
        <div appRandomBackgroundColor class="square top-square-10 left-square-25 blink-34"></div>
        <div appRandomBackgroundColor class="square top-square-10 left-square-24 blink-33"></div>
        <div appRandomBackgroundColor class="square top-square-10 left-square-23 blink-32"></div>
        <div appRandomBackgroundColor class="square top-square-10 left-square-22 blink-31"></div>
        <div appRandomBackgroundColor class="square top-square-10 left-square-21 blink-30"></div>

        <div appRandomBackgroundColor class="square top-square-11 left-square-21 blink-31"></div>
        <div appRandomBackgroundColor class="square top-square-12 left-square-21 blink-32"></div>
        <div appRandomBackgroundColor class="square top-square-13 left-square-21 blink-33"></div>
        <div appRandomBackgroundColor class="square top-square-14 left-square-21 blink-34"></div>
        <div appRandomBackgroundColor class="square top-square-15 left-square-21 blink-35"></div>
        <div appRandomBackgroundColor class="square top-square-16 left-square-21 blink-36"></div>

        <div appRandomBackgroundColor class="square top-square-16 left-square-22 blink-37"></div>
        <div appRandomBackgroundColor class="square top-square-16 left-square-23 blink-38"></div>
        <div appRandomBackgroundColor class="square top-square-16 left-square-24 blink-39"></div>
        <div appRandomBackgroundColor class="square top-square-16 left-square-25 blink-40"></div>

        <div appRandomBackgroundColor class="square top-square-15 left-square-25 blink-39"></div>
        <div appRandomBackgroundColor class="square top-square-14 left-square-25 blink-38"></div>
        <div appRandomBackgroundColor class="square top-square-13 left-square-25 blink-37"></div>
        <div appRandomBackgroundColor class="square top-square-12 left-square-25 blink-36"></div>
        <div appRandomBackgroundColor class="square top-square-11 left-square-25 blink-35"></div>
      </div>
    </div>
  </div>
</div>
